/* style.css */
body {
font-family: Georgia, serif;
}

/* Navbar */
.navbar {
background-color: #8b0d18;
}
.navbar-brand, .navbar-text {
color: white !important;
font-weight: bold;
}
.profile-icon {
font-size: 22px;
color: white;
}

/* Sidebar */
.sidebar {
background-color: #E2062B;
min-height: 100vh;
padding-top: 20px;
}
.sidebar .nav-link {
color: white;
font-weight: bold;
}
.sidebar .nav-link.active {
background-color: #8b0d18;
color: white;
}

/* Content */
.content {
padding: 30px;
}

/* Input */
.form-control {
background-color: #e0e0e0;
}

/* Button */
.btn-add {
background-color: #ffc107;
font-weight: bold;
border: none;
}
.btn-add:hover {
background-color: #e0a800;
}

/* Login Card */
.login-card {
border-radius: 10px;
background: white;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
padding: 50px;
}

.form-label {
font-weight: bold;
font-size: 15px;
}

.form-control {
background-color: #e0e0e0;
height: 50px;
font-size: 16px;
}

.btn-login {
background-color: #d3d3d3;
font-weight: bold;
padding: 12px;
font-size: 16px;
width: 100%;
}

.btn-login:hover {
background-color: #bcbcbc;
}

/* Table */
th {
font-size: 16px;
font-weight: bold;
}

td {
vertical-align: middle;
}

/* Tambah Stok */
.btn-add-stock {
border: none;
background: none;
color: black;
font-size: 14px;
display: flex;
align-items: center;
gap: 5px;
cursor: pointer;
}

.btn-add-stock:hover {
text-decoration: underline;
}

/* Tambah Barang */
.btn-add-item {
background-color: #ffc107;
font-weight: bold;
border: none;
}

.btn-add-item:hover {
background-color: #e0a800;
}
/* Button */
.btn-order {
background-color: #ffc107;
font-weight: bold;
font-size: 18px;
padding: 15px 30px;
border: none;
}
.btn-order:hover {
background-color: #e0a800;
}
.btn-yellow {
background-color: #ffc107;
font-weight: bold;
}
.btn-save {
background-color: #ffcc00;
font-weight: bold;
border: none;
}
.btn-save:hover {
background-color: #e6b800;
}